/* FOOTER - TEXTO Y REDES CON LINKS */
.footerText {
    display: flex;
    justify-content: center;
    font-family: "p22-mackinac-pro", serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #2b4e5e;
    font-size: 20px;
    line-height: 1.2; }
  
.footerTextMin {
display: flex;
justify-content: center;
font-family: "p22-mackinac-pro", serif;
font-style: normal;
font-weight: 400;
text-align: center;
padding: 0px;
margin-top: 30px;
margin-bottom: 15px;
color: #2b4e5e;
font-size: 16px;
line-height: 1.2; }

.social-bar {
display: flex;
position: relative;
justify-content: center;
bottom: 0;
top: 90%;
display: flex;
flex-direction: row;
align-content: center;
z-index: 100;
text-decoration: none;
padding: .9rem;
transition: all .5s; }

/*.icon {
    color: white;
    text-decoration: none;
    padding: .9rem;
    transition: all .5s;
}*/

.fab {
        color: white;
        text-decoration: none;
        padding: .9rem;
        transition: all .5s; }
 
.fab:hover {
                padding-top: 3rem;
                border-radius: 2rem 2rem 2rem 2rem;
                box-shadow: 0 0 0.8rem 0 0 0 0.42;}
                          
.fab:first-child {
                 border-radius: 2rem 0 0 0; }
                             

.far {
        color: white;
        text-decoration: none;
        padding: .9rem;
        transition: all .5s; }

.far:hover {
            padding-top: 3rem;
            border-radius: 2rem 2rem 2rem 2rem;
            box-shadow: 0 0 0.8rem 0 0 0 0.42; }
                            
.far:last-child {
                 border-radius: 0 2rem 0 0; }
  
 
.fa-instagram {
background: #f5d2be;
transition: all .5s;
font-size: 27px; }

.fa-behance {
background: #a6daf8;
transition: all .5s;
font-size: 25px; }

.fa-linkedin-in {
background: #2d5e41;
transition: all .5s;
font-size: 25px; }

.fa-envelope {
background: #d4a330;
transition: all .5s;
font-size: 25px; }
  